<%- include('./partial/header.ejs', {title: title, navBar: navBar}); %>
<div class="container">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <button id="login">Login</button>
</div>
<script>
  document.getElementById("login").addEventListener("click",async ()=>{
    location.href = "/login"
  })
</script>
<%- include('./partial/footer.ejs'); %>
