body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5%;
  width: 100%;
  background-color: #e7e7e7;
  color: #7A7A7A;
  text-align: center;
}
